.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding: 20px;
    border: 1px solid #eaebed;
}
.nav-logo {
    width: 150px;
}
.nav-img {
    height: 80px;
    width: 80px;
}
