.dashboard-container {
    width: 30%;
    padding: 30px;
    border: 1px solid #eaebed;
    height: 100vh;
}
.home-dashboard {
    display: flex;
    align-items: center;
}
.dashboard-icon-label {
    font-size: 20px;
    margin-left: 10px;
}
.dashboard-icon {
    font-size: 20px;
}
.dashboard-heading {
    font-weight: 500px;
    font-size: 20px;
}
.dashboard-label {
    font-size: 20px;
}