.dashboard-container {
    padding: 30px;
    border: 1px solid #eaebed;
    height: 100vh;
}
.home-dashboard {
    display: flex;
    align-items: center;
}
.dashboard-icon-label {
    font-size: 20px;
    margin-left: 10px;
}
.dashboard-icon {
    font-size: 20px;
}
.dashboard-heading {
    font-weight: 500px;
    font-size: 20px;
}
.dashboard-label {
    font-size: 20px;
}
.db-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.link-element {
    text-decoration: none;
}
.dashboard-btn {
    border-width: 0px;
    background-color: transparent;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}
.selected-button {
    background-color: rgba(198, 214, 228, 0.39);
    padding: 10px;
    width: 100%;
    text-align: left;
}